/* Styling for the loading animation */
.loading-animation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Below the modal content but above the background */
}

/* Styling for the loader element */
.loader {
  border: 8px solid transparent; /* Transparent border */
  border-top: 8px solid #ff6b6b; /* Coral color */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spinClockwise 1.5s linear infinite;
  position: relative;
}

.loader:before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 8px solid transparent; /* Transparent border */
  border-top: 8px solid #ffc371; /* Light coral color */
  border-radius: 50%;
  animation: spinCounterClockwise 2s linear infinite;
}

@keyframes spinClockwise {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes spinCounterClockwise {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
}